<!DOCTYPE html>
<html lang="en">

<head> 
	Welcome to My ML CI/CD Pipeline!

	...............................
	<head>



<body>
  <img src="{{url_for('static', filename='MLBAKER.png')}}" />
    <ul>
        <li><a href='/modelsdevelop.png'>Newest Customer Loyalty Model Version!</a>
    </ul>
	</body>
<body>
    <ul>
        <li><a href='/modelsdevelop.png'>Different Models Performance Compare~</a>
    </ul>
	</body>

<body>
    <ul>
        <li><a href='/email'>Contact Me!</a>
    </ul>
	</body>

</html>
